@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@font-face {
  font-family: 'Oswald', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
}

html, body {
  font-family: 'Oswald', sans-serif !important;
}

:root {
  --toastify-color-progress-light: #fff !important
}
:root {
  --body-bg-color: #e5ecef;
  --theme-bg-color: #fff;
  --settings-icon-hover: #9fa7ac;
  --developer-color: #f9fafb;
  --input-bg: #f8f8fa;
  --input-chat-color: #a2a2a2;
  --border-color: #eef2f4;
  --body-font: "Manrope", sans-serif;
  --body-color: #273346;
  --settings-icon-color: #c1c7cd;
  --msg-message: #969eaa;
  --chat-text-bg: #f1f2f6;
  --theme-color: #0086ff;
  --msg-date: #c0c7d2;
  --button-bg-color: #f0f7ff;
  --button-color: var(--theme-color);
  --detail-font-color: #919ca2;
  --msg-hover-bg: rgba(238, 242, 244, 0.4);
  --active-conversation-bg: linear-gradient(
   to right,
   rgba(238, 242, 244, 0.4) 0%,
   rgba(238, 242, 244, 0) 100%
  );
  --overlay-bg: linear-gradient(
   to bottom,
   rgba(255, 255, 255, 0) 0%,
   rgba(255, 255, 255, 1) 65%,
   rgba(255, 255, 255, 1) 100%
  );
  --chat-header-bg: linear-gradient(
   to bottom,
   rgba(255, 255, 255, 1) 0%,
   rgba(255, 255, 255, 1) 78%,
   rgba(255, 255, 255, 0) 100%
  );
}

[data-theme=purple] {
  --theme-color: #9f7aea;
  --button-color: #9f7aea;
  --button-bg-color: rgba(159, 122, 234, 0.12);
}

[data-theme=green] {
  --theme-color: #38b2ac;
  --button-color: #38b2ac;
  --button-bg-color: rgba(56, 178, 171, 0.15);
}

[data-theme=orange] {
  --theme-color: #ed8936;
  --button-color: #ed8936;
  --button-bg-color: rgba(237, 137, 54, 0.12);
}

.dark-mode {
  --body-bg-color: #1d1d1d;
  --theme-bg-color: #27292d;
  --border-color: #323336;
  --body-color: #d1d1d2;
  --active-conversation-bg: linear-gradient(
   to right,
   rgba(47, 50, 56, 0.54),
   rgba(238, 242, 244, 0) 100%
  );
  --msg-hover-bg: rgba(47, 50, 56, 0.54);
  --chat-text-bg: #383b40;
  --chat-text-color: #b5b7ba;
  --msg-date: #626466;
  --msg-message: var(--msg-date);
  --overlay-bg: linear-gradient(
   to bottom,
   rgba(0, 0, 0, 0) 0%,
   #27292d 65%,
   #27292d 100%
  );
  --input-bg: #2f3236;
  --chat-header-bg: linear-gradient(
   to bottom,
   #27292d 0%,
   #27292d 78%,
   rgba(255, 255, 255, 0) 100%
  );
  --settings-icon-color: #7c7e80;
  --developer-color: var(--border-color);
  --button-bg-color: #393b40;
  --button-color: var(--body-color);
  --input-chat-color: #6f7073;
  --detail-font-color: var(--input-chat-color);
}

html,
body {
  padding: 0;
  margin: 0;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  width: 60%;
  background-color: #fff;
}

/* Control the right side */
.right {
  right: 0;
  width: 40%;
  background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center ;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.landingpagebutton {
  width: 200px;
  height: 60px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  font-size: 16px;
}

/* Style the image inside the centered container, if needed */
/* Style the image inside the centered container, if needed */


.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .3s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%
}



.skew-menu {
  text-align: center;
  margin-top: 9em;
}
.skew-menu ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: skew(-25deg);
}
.skew-menu ul li {
  background: #fff;
  float: left;
  border-right: 1px solid #eee;
  text-transform: uppercase;
  color: #555;
  font-weight: bolder;
  transition: all 0.3s linear;
}
.skew-menu ul li:first-child {
  border-radius: 7px 0 0 7px;
}
.skew-menu ul li:last-child {
  border-right: none;
  border-radius: 0 7px 7px 0;
}
.skew-menu ul li:hover {
  background: #eee;
  color: #1F40DD;
}
.skew-menu ul li a {
  display: block;
  padding: 1em 2em;
  color: inherit;
  text-decoration: none;
  transform: skew(25deg);
}


.textarea {
  background-color: #dddddd;
  color: #666666;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  width: 200px;
  height: 100px;
  transition: all 0.2s;
}

.textarea:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.textarea:focus {
  cursor: text;
  color: #333333;
  background-color: white;
  border-color: #333333;
}



.card {
  background-color: var(--color3);
  min-width: 300px;
  max-width: 340px;
  padding: 20px;
  border-radius: 15px;
  border:2px solid #eee;
  margin-top: 30px;
  cursor: pointer;
}
@media (max-width: 376px) {
  .card {
      transform: scale(0.9);
      min-width: auto;
  }
}
@media (max-width: 321px) {
  .card {
      transform: scale(0.75);
      min-width: auto;
  }
}

.card__imgContainer {
  width: 300px;
  height: 300px;
  border-radius: inherit;
  overflow: hidden;
  position: relative;
}

.card__imgContainer:hover {
  cursor: pointer;
}

.card__imgOverlay {
  background-color: var(--color2Trans);
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
}


.card__imgContainer:active .card__imgOverlay .card__imgOverlayViewIcon {
  transform: scale(0.90);
}

.card__img {
  max-width: 100%;
  border-radius: inherit;
}

.card__title {
  display: block;
  color: var(--color5);
  width: fit-content;
  margin: 20px 0 15px;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
}

.card__title:hover {
  color: var(--color2);
}

.card__title:active {
  text-decoration: underline;
}

.card__desc {
  color: var(--color1);
  font-weight: 300;
  line-height: 1.6;
}

.card__info {
  margin: 20px 0 0;

  /* Flex */
  display: flex;
  justify-content: space-between;
}

.card__ethValue {
  color: var(--color2);

  /* Flex */
  display: flex;
  align-items: center;
}

.card__ethValueIcon {

}

.card__ethValueText {
  margin-left: 8px;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.card__date {
  color: var(--color1);

  /* Flex */
  display: flex;
  align-items: center;
}

.card__dateIcon {

}

.card__dateText {
  margin-left: 8px;
  font-weight: 400;
}

.card__separator {
  display: block;
  background-color: var(--color4);
  width: 100%;
  height: 1px;
  margin: 20px 0;
  border-radius: inherit;
}

.card__creator {
  color: var(--color1);
  
  /* Flex */
  display: flex;
  align-items: center;
}

.card__creatorImg {
  width: 30px;
  height: 30px;
  outline: solid 2px var(--color5);
  border-radius: 50%;
}

.card__creatorName {
  margin-left: 12px;
  font-weight: 300;
}

.card__creatorLink {
  color: var(--color5);
  text-decoration: none;
}

.card__creatorLink:hover {
  color: var(--color2);    
}

.card__creatorLink:active {
  text-decoration: underline;
}



.grids {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 0;
  grid-row-gap: 20px;
  margin-top: 50px;
}

@media only screen and (min-width: 1379px) {
  .grids {
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;
    grid-row-gap: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .grids {
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 50px;
  }
}


.checkbox-wrapper .tgl {
  display: none;
}
.checkbox-wrapper .tgl + .tgl-btn {
  background: #333333;
  border-radius: 2em;
  padding: 6px;
  transition: all 0.4s ease;
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-wrapper .tgl + .tgl-btn::before, .checkbox-wrapper .tgl + .tgl-btn::after {
  position: relative;
  display: block;
  content: "";
  height: 100%;
}
.checkbox-wrapper .tgl + .tgl-btn::before {
  display: none;
  width: 50%;
}
.checkbox-wrapper .tgl + .tgl-btn::after {
  left: 0;
  border-radius: 50%;
  background: #fff;
  width: unset;
  aspect-ratio: 1/1;
  transition: all 0.2s ease;
}
.checkbox-wrapper .tgl:checked + .tgl-btn {
  background: #f0f0f0;
}
.checkbox-wrapper .tgl:checked + .tgl-btn:after {
  transform: translateX(150%);
  background: #333333;
}
.checkbox-wrapper .icon {
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-invert);
}
.checkbox-wrapper .icon_sun {
  left: 10%;
}
.checkbox-wrapper .icon_moon {
  right: 10%;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}